*{
    margin: 0;
    padding: 0;
}

body {
background-image: url('../image/background/1.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
   
}

.btn-secondary{
    font-family: 'K2D';
}

.menu-space{
    margin: 0;
}



.dl-link-button{
    font-family: 'Koulen', cursive;
    font-size: 2vw;
}

.carousel-item img{
    object-fit: cover;
    object-position: cover;
    min-width: 100%;
    object-position: center;
        

}

.text-white, .modal-txt{
    font-family: 'Koulen', cursive;
}

.description, label{
    font-family: 'K2D';
    font-size: medium;
    text-transform: inherit;
}

p{
    text-transform: capitalize;
    font-family: 'K2D';
    text-align: justify;
}

.cardshadow{
    box-shadow:  0px 0px 5px 2px rgba(228, 219, 219, 0.2);
}

.modal-body img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.fa-brands{
    color: whitesmoke;
    
}

.txtfa{
    text-decoration-line: none;
}


.txtBanner{
    font-family: 'Koulen', cursive;
    text-shadow: 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1);

}

.subMenu{
    text-decoration-line: none;   
    font-family: 'Koulen', cursive;
}

.map-wrapper{
    max-width: 700px;
    border: 3px solid black;
}
.googlemap {
    width: 100%;
}

/* card style for menu description */
#cont1 .card-footer p, #cont2 .card-footer p, #cont3 .card-footer p, #cont4 .card-footer p{
    width: 350px;
    height: 65px;
}

#cont1 .card-body img, #cont2 .card-body img,#cont3 .card-body img, #cont4 .card-body img,.BOTM img{
    width: 350px;
    height: 300px;
}

.BOTM p{
    width: 350px;
    height: 105px;
}

/* modal check box */

.form-check, .modal label, .modal .form-group{
    padding-bottom: 5px;
}

/* section paddings */

#BOTM, #News, #Down, #map{
    padding-top: 100px;
}

#Menu, #cont1, #cont2, #cont3, #cont4{
    margin-top: 100px;
}

#cont4, #team-card{
    margin-bottom: 100px;
}

#hey, #map, #team{
    padding-top: 100px;
    padding-bottom: 50px;
}

/* about us social links*/

.SNS a{
    font-size: 30px;
    padding-right: 15px;
}

.SNS a i:hover{
    color: #FFA900;
    font-size: 35px;
    transition: all 0.2s ease;
}

/* Payment and Delivery Page*/

.paymentCotnt .input-group, .paymentCotnt .form-floating, .input-group{
    padding-bottom: 8px;

}


/*---cart page---*/
.cartcont{
    width: 100%;
    max-width: 100%;
    
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 30px;

    display: flex;
    position: block;
    flex-wrap: nowrap;
    margin: 0 auto;
   

    box-shadow: 0px 0px 5px 2px rgba(228, 219, 219, 0.2);
}




.cartbox{
    display: flex;
    flex-wrap: wrap;
}


.paymentCotnt{
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 90px;
    position: relative;
}
