body {
background-image: url('image/plate.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
    
}





.nav-link, .nav-link-button{
    width:150px;
    font-family: 'Koulen', cursive;
}
.navbar-brand{
    
    font-family: 'Koulen', cursive;
}






.cardshadow{
    box-shadow:  0px 0px 5px 3px rgba(228, 219, 219, 0.5);
}

.fa-brands{
    color: whitesmoke;
    
}

.txtfa{
    text-decoration-line: none;
}


.txtBanner{
    font-family: 'Koulen', cursive;
    text-shadow: 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1), 4px 4px 0 rgb(255, 255, 255, 0.1);

}

.subMenu{
    text-decoration-line: none;   
    font-family: 'Koulen', cursive;
}

.map-wrapper{
    max-width: 700px;
    border: 3px solid black;
}
.googlemap {
    width: 100%;
}


#cont1, #cont2, #cont3, #cont4{
    background-image: url('image/plate.jpg');
    background-position: center;
    background-size: cover;
    
    
}
